.tarjeta {
    position: absolute;
    top: 0;
    right: -354px;
    background-color: #1315a2;
    border-radius: 10px;
    margin: 10px;
    padding: 20px 20px 10px 20px;
    transition:all 0.5s ;
}

.tarjeta div {
    position: absolute;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: -7%;
    background-color: #1315a2;
    color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 8px;
    display: flex;
    align-items: center;
}

.tarjeta div svg {
    width: 30px;
    height: 30px;
    fill: #ffffff;
    display: flex;
    align-items: center;
    z-index: -1;
    transition: all 1s;
}

.tarjeta div:hover {
    cursor: pointer;
    background-color: #3a3dd2;
}

.tabla {
    width: 100%;
    margin: 1 px solid #000000;
    border-spacing: 2px;
    color:#1315a2;
}

.cabecera tr th:first-child {
    background-color: #1315a2;
    width: auto;
}

.cabecera tr th {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffff;
    width: 38px;
    padding: 5px 1px;
}

.cabecera tr th input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    border: none;
    background-color: #ffffff;
    outline: none;
}


.titulos th {
    background-color: #ffffff;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 2px 10px;
    width: 180px;
    margin: 0;
}

td {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    background-color: #ffffff;
    padding: 2px 10px;
    cursor: pointer;
    height: 18px;
    max-height: 18px;
    user-select: none;
}

td:not(:first-child) {
    text-align: center;
    font-weight: 1000;
    font-size: 16px;
    padding: 0;
}

span {
    right: 0;
    font-weight: 300;
    color : #ffffff88;
    font-size: 11px;
    padding: 0;
}