body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #626262;
    overflow: hidden;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#tablero {
    position: relative;
    width: 1000px;
    height: 90%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}


#tarjeta {
    position: absolute;
    top: 0;
    right: -20%;
    background-color: #1315a2;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    transition:all 0.5s ;
}

#desplegable {
    position: absolute;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: -7%;
    background-color: #1315a2;
    color: #ffffff;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    z-index: 1;
}

#tabla {
    width: 100%;
    margin: 1 px solid #000000;
    border-spacing: 2px;
    color:#1315a2;

}

.cabecera tr th:first-child {
    background-color: #1315a2;
    width: auto;
}

.cabecera tr th {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    background-color: #ffffff;
    width: 18px;
}

.titulos tr th:first-child {
    background-color: #ffffff;
}

.titulos tr th {
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    padding: 4px 2px;
    background-color: #1315a2;
}

td {
    text-align: left;
    font-weight: 500;
    font-size: 14px;
    background-color: #ffffff;
    padding: 2px 10px;
    cursor: pointer;
    height: 18px;
    max-height: 18px;
}

td:not(:first-child) {
    text-align: center;
    font-weight: 1000;
    font-size: 16px;
    padding: 0;
}

tr:nth-child(even) td {
    background-color: #f2f2f2;
}



.pasillo, .escalera ,.ascensor {
    fill: rgb(225, 225, 225);
    fill-opacity: 1;
}

.aulas-este {
    fill: rgb(255, 94, 94);
    fill-opacity: 1;
}

.aulas-sur {
    fill: rgb(119, 255, 104);
    fill-opacity: 1;
}

.banos {
    fill: rgb(97, 164, 252);
    fill-opacity: 1;
}

.cafeteria {
    fill: rgb(253, 167, 47);
    fill-opacity: 1;
}

.recepcion {
    fill: rgb(255, 255, 0);
    fill-opacity: 1;
}

.laboratorios {
    fill: rgb(255, 114, 255);
    fill-opacity: 1;
}

.despachos {
    fill: rgb(123, 254, 254);
    fill-opacity: 1;
}


.hover {
    fill-opacity: 0.3;
}
