.chat-container {
  position: absolute;
  top: 0;
  left: -425px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  width: 400px; 
  height: calc(100% - 100px); 
  margin: 10px; 
  background-color: #f3f3f3;
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition:all 0.5s ;
  border: 20px solid #1315a2; 
}

.chat-container div {
  position: absolute;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: -14%;
  background-color: #1315a2;
  color: #ffffff;
  border-radius: 10px;
  margin: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 8px;
  display: flex;
  align-items: center;
}

.chat-container div svg {
  width: 30px;
  height: 30px;
  fill: #ffffff;
  display: flex;
  align-items: center;
  z-index: -1;
  transition: all 1s;
}

.chat-container div:hover {
  cursor: pointer;
  background-color: #3a3dd2;
}

.input-message-container {
  width: 100%; /* Ocupa todo el ancho disponible */
  text-align: center; /* Centra el contenido horizontalmente */
}
  
  /* Mensaje en el chat */
  .message {
    margin: 10px;
    padding: 10px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 5px; /* Borde redondeado */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  /* Estilo para el remitente del mensaje */
  .sender {
    font-weight: bold;
  }
  
  /* Estilo para el mensaje */
  .message-content {
    margin-top: 5px;
  }
  
  /* Estilo para el formulario de entrada del mensaje */
  .message-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #fff; /* Fondo blanco */
    border-top: 1px solid #ccc; /* Borde superior gris */
  }
  
  /* Estilo para el campo de entrada de texto */
  .message-input input[type="text"] {
    flex: 1;
    padding: 8px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
  }
  
  /* Estilo para el botón de enviar */
  .message-input button {
    margin-left: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #007bff; /* Azul */
    color: #fff; /* Texto blanco */
    cursor: pointer;
  }
  
  /* Estilo para el botón de enviar al pasar el cursor */
  .message-input button:hover {
    background-color: #0056b3; /* Azul oscuro */
  }
  
