.message {
    text-align: left;
    display: flex;
} 

/*
ul is in the left side of his parent, so we need to change the direction of the flex container
*/
ul {
    width: 100%;    
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    list-style: none;
}