.message-list {
    list-style-type: none;
    padding: 0;
  }
  
  .message {
    padding: 10px; /* Espacio interno */
    margin-bottom: 10px; /* Margen inferior entre los mensajes */
  }
  
  .message-text {
    margin: 0;
  }
  